* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: hsl(200, 100%, 10%);
}

.container {
  width: 94%;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
}

form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

input {
  width: 50%;
  margin: 0.25rem;
  border: 1px solid #aaa;
  outline: none;
  font-size: inherit;
  padding: 0.5em;
  border-radius: 0.2em;
}

button {
  background-color: hsl(200, 100%, 40%);
  border-color: hsl(200, 100%, 20%);
  color: white;
  outline: none;
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 0.3em;
}

button:hover,
button:focus {
  background-color: hsl(200, 100%, 30%);
  box-shadow: 0 0 5px 0 hsl(200, 100%, 20%);
}

ul {
  padding-top: 1rem;
  padding-left: 20px;
  list-style: none;
}

li {
  list-style-type: none;
}

a {
  font-size: 0.75rem;
}
